# Ignore node_modules directory
node_modules/

# Ignore any npm-debug.log file
npm-debug.log

# Ignore VSCode settings
.vscode/

# Ignore editor-specific files
*.swp
*~
.DS_Store

# Ignore environment-specific configuration files
.env

# Ignore log files
*.log
