/* General */
body {
  color: #022c66;
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #022c66 !important;
  font-weight: bold !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  cursor: pointer;
}

.pl-0 {
  padding-left: 0 !important;
}

.body-bold-xl {
  font-size: 22px;
  font-weight: bold !important;
  line-height: 150%;
  color: #022c66;
}

.body-bold-l {
  font-size: 1.25rem;
  font-weight: bold !important;
  line-height: 150%;
  color: #022c66;
}

.body-bold-medium {
  font-size: 1rem;
  font-weight: 600 !important;
  line-height: 150%;
}

.body-bold-s {
  font-size: 0.9rem;
  font-weight: 600 !important;
  line-height: 150%;
}

.body-bold-xs {
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  line-height: 150%;
}

.body-bold-xxs {
  font-size: 12px;
  font-weight: 600 !important;
  line-height: 150%;
}

.body-l {
  font-weight: normal;
  line-height: 150%;
  font-size: 18px;
}

.body-m {
  font-weight: normal;
  line-height: 150%;
  font-size: 16px;
}

.body-s {
  font-size: 14px;
  line-height: 150%;
}

.body-xs {
  font-size: 12px;
  line-height: 150%;
}

.alert {
  margin-top: 10px;
}

.heading-m {
  font-size: 32px;
  line-height: 130%;
  font-weight: bold;
}

.heading-s {
  font-size: 24px;
  line-height: 140%;
  font-weight: bold;
}

.heading-xxs {
  font-size: 16px;
}

.heading-xs {
  font-size: 20px !important;
  font-weight: bold;
}

.btn-text-m {
  font-size: 14px;
  font-weight: bold;
}

.btn-text-l {
  font-size: 16px;
  font-weight: bold;
}

.has-bottom-bar {
  margin-bottom: 80px !important;
}

.switch input {
  width: 40px !important;
  height: 24px;
}

.bottom-border-gray {
  border-bottom: 1px solid #e6eaf0;
}

input:focus-visible {
  border: 1px solid #022c66 !important;
  outline: 0;
}

.no-border {
  border: 0 !important;
}

.blue-text {
  color: #022c66 !important;
}

.green-text {
  color: #4ac777 !important;
}

.white-text {
  color: white !important;
}

.gray-text {
  color: #8095b2 !important;
}

.red-text {
  color: red !important;
}

.modal-open {
  overflow: hidden !important;
}
/* Buttons */

button.dark-button {
  border: none;
  background-color: #022c66;
}

button.dark-button:hover,
button.dark-button:active {
  background-color: #022c66;
}

button.transparent-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #022c66;
  font-weight: bold;
  font-size: 1.1rem;
}

button.buy-button {
  border-radius: 0.375rem;
  color: white;
  background-color: #4ac777;
  border: none;
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
}

.btn.white-button {
  background-color: white;
  color: #022c66;
  border: 1px solid #022c66;
  border-color: #022c66;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn.white-button:hover {
  background-color: white !important;
  color: #022c66 !important;
  border-color: #022c66 !important;
}

.btn.white-button:active {
  background-color: white !important;
  color: #022c66 !important;
  border-color: #022c66 !important;
}

.dark-button.dark-outline-button {
  background-color: white;
  color: #022c66;
  border: 1px solid #022c66;
}

.dark-button.dark-outline-button:hover,
.dark-button.dark-outline-button:active {
  background-color: white;
  color: #022c66;
  border: 1px solid #022c66;
}

/* Navbar */

.navbar {
  z-index: 999;
  height: 58px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
}

.container .navbar-toggler {
  padding-left: 0;
  border: 0;
}

.container .navbar-toggler:focus {
  box-shadow: none;
}

.container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/hamburger-icon.svg);
  fill: #022c66;
}

.navbar.blue {
  background-color: #022c66 !important;
  box-shadow: none;
}

.navbar.blue .container .navbar-toggler .navbar-toggler-icon,
.navbar.green .container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/hamburger-icon-white.svg);
}

.navbar.green {
  background-color: #4ac777 !important;
}

/* Bottom bar */

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #022c66;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.bottom-bar > div:hover {
  cursor: pointer;
}

.bottom-bar .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
  text-decoration: none;
}

.bottom-bar .icon svg path {
  color: #555;
  fill: #555;
}

.bottom-bar .icon svg rect {
  stroke: #555;
}

.bottom-bar .icon.selected span,
.bottom-bar .icon.selected svg path {
  color: #022c66;
  fill: #022c66;
}

.bottom-bar .icon.selected svg rect {
  stroke: #022c66;
}

.icon i {
  font-size: 24px;
}
.icon span {
  font-size: 12px;
  margin-top: 5px;
}

.bottom-bar-margin {
  margin-bottom: 68px;
}

/* Login and register */

.auth-container h2 {
  font-size: 1rem;
}

.auth-forms input {
  background-color: #edf0f7;
  margin-bottom: 12px;
  border: 0;
  color: #022c66 !important;
}

.auth-forms input::placeholder,
.auth-forms .form-label {
  color: #022c66;
  font-weight: bold;
  font-size: 0.875rem;
}

.auth-forms input[type="radio"] {
  background-color: white;
  border: 2px solid #022c66;
}

.auth-forms input[type="radio"]:checked {
  background-color: #022c66;
  color: #022c66;
  --bs-form-check-bg-image: none !important;
}

.auth-forms input[type="radio"]:focus {
  box-shadow: none;
}

.auth-forms .form-label {
  font-weight: bold;
  font-size: 0.875rem;
}

.auth-text-input {
  min-height: 56px;
}

.auth-container button {
  min-height: 56px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.875rem;
}

.forgot-password {
  color: #022c66;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
}

/* Home page */

.home-background {
  height: 100vh;
  background: linear-gradient(to bottom, #022c66 50%, transparent 50%);
}

.search-ride-card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.1); /* Adjust values for shadow down and to the sides */
}

.search-inputs {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #022c66;
  padding-bottom: 0;
  margin-top: 20px;
  justify-content: end;
  height: 36px;
}

.search-inputs input,
.spaces-dropdown {
  margin-left: 10px;
  border: 0;
  width: 100%;
  padding-bottom: 5px;
}

.search-inputs img,
.spaces-dropdown img {
  height: 30px;
  padding-bottom: 5px;
}

.search-inputs .p-autocomplete-loader {
  display: none !important;
}

.search-inputs input:focus {
  border: 0 !important;
  outline: none;
  box-shadow: none;
}

.search-inputs input::placeholder,
.search-inputs input,
.spaces-dropdown,
.autocomplete-dropdown ul li {
  color: #022c66;
  font-size: 1rem;
  font-weight: bold;
}

.autocomplete-dropdown ul {
  padding-left: 0;
  background-color: white;
  border: 1px solid #022c66;
}

.autocomplete-dropdown ul li {
  padding-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.autocomplete-dropdown ul li:hover {
  background-color: rgba(2, 44, 102, 0.1);
}

.home-container {
  height: calc(100vh - 58px);
}

/* For Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* For Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

/* For Edge */
input[type="date"]::-ms-clear {
  display: none;
}

.date-pick-field {
  padding-left: 0 !important;
  color: inherit;
}

.date-pick-field:focus {
  color: #022c66 !important;
}

button.search-button {
  box-sizing: border-box;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px !important;
}

/* Ride cards */

.card.ride-result-card {
  margin-top: 20px;
  border: 1px solid #4ac777;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2),
    0px -10px 10px -10px rgba(0, 0, 0, 0.2);
}

.driver-info h3 {
  margin-bottom: 0;
}

.driver-info a {
  color: #4ac777 !important;
  text-decoration: none;
}

.ride-price-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #022c66;
  color: #4ac777;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.card .card-header {
  padding-right: 0 !important;
  background-color: white;
  border-bottom: 1px solid #667e9e;
  padding-top: 20px;
  padding-bottom: 15px;
}

.destination-info .journey-location {
  margin-bottom: 0 !important;
}

.destination-info span {
  font-size: 11px;
  color: #4e6c94;
}

.journey-indicator {
  padding-top: 10px;
  padding-bottom: 10px;
}

.time-info h4 {
  color: #667e9e !important;
  margin-bottom: -3px;
}

.time-info .departure-info {
  padding-right: 10px;
}

.time-info .travel-time {
  padding-left: 10px;
}

.time-info .departure-info {
  border-right: 1px solid #667e9e;
}

.time-info .departure-info {
  color: #022c66;
}

.time-info .border-bot {
  padding-bottom: 5px;
  border-bottom: 1px solid #667e9e;
}

button.reserve-button {
  line-height: 150%;
  letter-spacing: 1px;
  color: #4ac777;
  box-sizing: border-box;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px !important;
}

.rides-count {
  color: #022c66;
}

/* My rides */

.category-select {
  border-bottom: 1px solid #022c66;
  padding-bottom: 5px;
}

.category-select div a {
  padding-bottom: 10px;
  text-decoration: none;
  color: #8095b2 !important;
}

.category-select div a.selected span {
  color: #022c66 !important;
  padding-bottom: 10px;
  border-bottom: 2px solid #022c66;
}

.card.my-ride-card {
  margin-top: 20px;
  border: 1px solid #022c66;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2),
    0px -10px 10px -10px rgba(0, 0, 0, 0.2);
}

.card.my-ride-card .card-body {
  padding: 0 0 30px 0;
}

.card.my-ride-card .card-body > div {
  padding: 1rem 1rem;
}

.card.my-ride-card .journey-indicator {
  padding: 0;
}

.card.my-ride-card .destination-info h4 {
  margin-bottom: 0 !important;
}

.card.my-ride-card .destination-info span {
  font-size: 0.875rem;
}

.card.my-ride-card .date-info {
  background-color: #022c66;
}

.card.my-ride-card .date-info h4 {
  color: #4ac777 !important;
}

.card.my-ride-card .date-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card.my-ride-card .date-info .first {
  border-right: 1px solid white;
}

.card.my-ride-card .date-info span {
  font-size: 0.75rem;
  color: white;
  font-weight: 600;
}

.card.my-ride-card .additional-actions {
  border-bottom: 1px solid #bfbfbf;
  color: #022c66;
  padding: 1rem 1rem;
}

.card.my-ride-card .arrived-button {
  background-color: #4ac777;
  width: 200px;
  height: 50px;
  margin: auto;
}

.card.my-ride-card .confirmation-actions a {
  margin-top: 8px;
  color: #022c66;
  text-decoration: none;
}

/* Ride info */

.ride-info {
  margin-bottom: 113px;
}

.ride-info h4 {
  font-size: 16px;
}

.ride-info > div {
  border-bottom: 1px solid #022c66;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ride-info p {
  font-size: 14px;
  line-height: 150%;
  color: #022c66;
  margin-bottom: 0;
}

.ride-info .journey-indicator {
  padding: 0;
}

.ride-info .icon-div {
  margin-right: 8px;
}

.ride-info .reservation-info {
  margin-bottom: 15px;
}

.ride-info .info-box2 img {
  width: 20px;
  height: 20px;
}

.ride-info .info-box2 h4 {
  margin-left: 5px;
  display: inline;
}

.ride-info .info-box2 span {
  display: block;
  margin-bottom: 15px;
}

.ride-info .review-average {
  color: #4ac777;
}

.reviews-preview-container {
  margin-top: 24px !important;
  padding-right: 0 !important;
}

.reviews-preview h4 {
  margin-bottom: 2px;
}

.reviews-preview span {
  font-size: 14px;
  color: #022c66;
  font-weight: bold;
}

.review-card {
  border: 1px solid #022c66 !important;
}

.review-card .card-header {
  padding-bottom: 6px;
  border-bottom: 0;
}

.review-card .card-body {
  padding-top: 0 !important;
}

.review-text-container {
  border-bottom: 1px solid #edf0f7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.review-text {
  min-height: 50px;
  font-weight: normal;
  font-size: 12px;
}

.reviews-swiper .swiper-slide {
  width: 80% !important;
}

.review-card i {
  vertical-align: middle;
  color: #4ac777;
  font-size: 12px;
}

.review-card span {
  color: #022c66;
}

.reserve-bottom-bar {
  height: 113px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  background-color: white;
  margin: 0 !important;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect with negative y-axis offset */
}

/* Post a ride */
.post-ride-cta {
  background-color: #4ac777;
  padding-top: 38px;
  padding-bottom: 34px;
  color: white;
}

.post-ride-cta h2 {
  color: white !important;
}

.post-ride-cta p {
  margin-bottom: 2px;
}

.post-ride-cta img {
  width: 100%;
}

.steps-container {
  padding-top: 28px;
  width: 100vw;
  padding-bottom: 12px;
  border-bottom: 1px solid #022c66;
}

.step-circle {
  width: 27px;
  height: 27px;
  border-radius: 50%; /* Makes the div circular */
  border: 1px solid #8095b2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8095b2;
}

.steps-inside-container {
  justify-content: center;
  width: 80%;
  margin: auto;
  flex-wrap: nowrap;
}

.steps-inside-container svg {
  width: 40%;
}

.steps-inside-container .step-indicator {
  width: 25%;
}

.steps-inside-container .step-indicator .d-flex {
  justify-content: space-around;
}

.steps-inside-container .step-indicator.last-step {
  width: 10%;
}

.steps-inside-container .step-indicator span {
  color: #8095b2;
}

.steps-inside-container .step-indicator.current span {
  color: #022c66;
}
.steps-inside-container .step-indicator.current .step-circle {
  border: 1px solid #022c66;
  color: white;
  background-color: #022c66;
}

.accept-location-suggestions h4 {
  margin-bottom: 0;
  line-height: 1.5;
}

.post-ride-fillable {
  color: #022c66;
}

.post-ride-fillable section.bottom-border {
  border-bottom: 1px solid #022c66;
}

.post-ride-container .input-container2 {
  width: 100%;
}

.post-ride-container .input-container2 .left-corner-div {
  height: 48px;
  width: 55px;
  font-size: 16px !important;
  color: #8095b2;
  background-color: rgba(2, 44, 102, 0.1);
}

.collapse-button {
  padding: 0 10px 5px 5px;
}

#fee-breakdown-collapsible span {
  font-size: 16px;
  font-weight: bold;
  color: #8095b2;
}

.post-input::placeholder,
.post-input {
  color: #8095b2;
  font-size: 16px;
  font-weight: bold;
}

textarea.post-input {
  background-color: white;
}

.post-input {
  background-color: #edf0f7;
  width: 100%;
  height: 48px;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: #022c66;
}

.input-container {
  position: relative;
}

.input-container img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input-container span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #8095b2;
}

.post-ride-container .dark-button {
  height: 60px;
  padding: 0;
}

.post-ride-fillable .p-autocomplete {
  width: 100%;
}

.post-ride-fillable .p-autocomplete .post-input {
  width: 100%;
  color: #022c66;
}

.seats-change-button {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 1px solid #022c66;
  color: #022c66;
  background-color: white;
  box-shadow: 0 0 10px rgba(2, 44, 102, 0.25);
}

.seats-choose-indicator {
  background-color: #022c66;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 64px;
  border-radius: 30px;
  margin: 0 15px;
}

.post-input.currency-box {
  text-align: end;
  color: #022c66;
  padding-right: 12px;
}

.price-info {
  width: 100%;
}

.post-ride-container textarea {
  overflow: hidden;
  height: 300px;
  border: 1px solid #022c66;
  color: #022c66;
}

textarea:focus-visible {
  border: 1px solid #022c66;
  outline: none;
}

.form-check-input {
  height: 20px !important;
  width: 20px !important;
  margin-right: 12px;
}

/* Submission success */

.submission-status-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 58px);
  color: #022c66;
  z-index: 200;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.submission-message {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100vw;
}

.submission-message h2 {
  margin-top: 20px;
  margin-bottom: 24px;
  color: #4ac777 !important;
}

.submission-message hr {
  margin: 0 auto 24px auto;
  width: 90%;
  border-color: #022c66 !important;
  opacity: 1;
}

.submission-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.submission-bottom-bar button {
  font-size: 14px;
  width: 90%;
  height: 61px;
  margin-bottom: 27px;
}

.submission-bottom-bar div {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.proposal-card {
  min-height: 691px;
}

.proposal-card .card-header {
  padding-right: 1rem !important;
  border-bottom: none;
  color: #022c66;
}

.proposal-card button {
  height: 44px;
  width: 93px;
}

.accept-proposal {
  background-color: #4ac777 !important;
  border: none !important;
  margin-left: 20px;
}

.drivers-ride-wrapper {
  border-radius: 0.375rem;
  border: 1px solid #4ac777;
}

.drivers-ride-wrapper .card {
  border: 1px solid #4ac777;
}

.drivers-ride-wrapper .date-info {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.passengers-list {
  padding: 0 !important;
}

.passengers-list .heading {
  background-color: #022c66;
  color: #4ac777;
  padding: 8px 1rem;
}

.passengers-list .heading span {
  color: white;
  font-weight: 300;
}

.card.my-ride-card .passengers-list .arrived-button {
  background-color: #4ac777;
  width: 237px;
  height: 50px;
  margin: auto;
}

.card.my-ride-card .passengers-list .arrived-button:disabled {
  background-color: #76a68b;
}

/* Wallet */

.wallet-background {
  position: absolute;
  height: 230px;
  width: 100vw;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #022c66;
  z-index: -1;
}

.row.balance-row {
  margin-top: 40px;
}

.row.balance-row p {
  margin-bottom: 0;
}

.sub-text {
  color: white;
  font-weight: 300;
}

.row.wallet-actions-row {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0.375rem;
  border: 1px solid #022c66;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #022c66;
  padding: 14px 0px;
}

.row.wallet-actions-row .right-border {
  border-right: 1px solid #022c66;
}

button.choose-transaction-type {
  background-color: white;
  border: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 44px;
  font-size: 14px;
  width: 100%;
  border-radius: 0.375rem;
  color: #022c66;
  font-weight: bold;
}

button.choose-transaction-type.selected {
  border: 1px solid #4ac777;
  color: #4ac777;
}

.transactions-container {
  margin-top: 24px;
}

.card.income-card {
  background-color: rgba(2, 44, 102, 0.1);
}

.card.income-card h4 {
  margin-bottom: 0;
}

.card.income-card .journey-indicator {
  padding: 0;
  width: 95%;
  margin: auto;
}

.card.income-card .destination-info {
  margin-bottom: 12px;
}

.total-ride-income {
  background-color: #022c66;
  color: white;
  height: 48px;
  border-radius: 0.375rem;
  padding-left: 12px;
  padding-right: 12px;
}

.income-breakdown {
  padding-left: 24px;
  padding-right: 24px;
  color: #4e6c94;
}

.income-breakdown div {
  padding: 12px 0;
}

.income-breakdown div:not(:last-child) {
  border-bottom: 1px solid #022c66;
}

.withdrawal-amount {
  text-align: center;
  height: 43px;
  color: white;
  background-color: #022c66;
  width: 118px;
  border-radius: 0.375rem;
}

.withdraw-container {
  position: fixed;
  width: 100vw !important;
  max-width: none !important;
  height: 90vh;
  z-index: 10;
  background-color: white;
  bottom: -90vh;
  transform: translateY(100%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: 0.5s ease;
}

.withdraw-container.show {
  transform: translateY(0);
  bottom: 0;
}

div.bank-acc-number {
  height: 67px;
  width: 100%;
  padding: 0 24px;
  background-color: rgba(2, 44, 102, 0.1);
  border-radius: 0.375rem;
  color: #8095b2;
  margin-bottom: 24px;
}

.amount-container {
  margin-top: 24px;
}

.input-container2 {
  position: relative;
}

.left-corner-div {
  position: absolute;
  color: #022c66;
  background-color: rgba(2, 44, 102, 0.2);
  top: 50%;
  width: 77px;
  height: 67px;
  left: 0px; /* Adjust as needed */
  transform: translateY(-50%);
  border-radius: 0.375rem;
  pointer-events: none; /* This ensures that the div doesn't interfere with mouse events */
}

input.withdrawal-input {
  height: 67px;
  width: 100%;
  border: 0;
  background-color: rgba(2, 44, 102, 0.1);
  border-radius: 0.375rem;
  font-size: 32px;
  color: #4ac777;
  font-weight: bold;
  text-align: right;
  padding-left: 77px;
  padding-right: 24px;
}

.row.withdraw-actions {
  position: absolute;
  width: 100vw;
  bottom: 120px;
}

.withdraw-actions button {
  width: 100%;
  height: 56px;
}

.withdraw-actions button.btn-outline-primary {
  font-weight: bold;
  border: 1px solid #022c66;
  color: #022c66;
}

.withdraw-actions button.btn-outline-primary:hover {
  background-color: #022c66;
  color: white;
}

.withdraw-actions button.btn-outline-success {
  font-weight: bold;
  border: 1px solid #4ac777;
  color: #4ac777;
}

.withdraw-actions button.btn-outline-success:hover {
  background-color: #4ac777;
  color: white;
}

.wallet-success-message {
  display: none;
}

.wallet-success-message.show {
  display: block;
}

.bank-input {
  font-size: 16px !important;
  padding-left: 24px !important;
  text-align: start !important;
  color: #8095b2 !important;
}

.bank-acc-input-container {
  padding-bottom: 24px;
  border-bottom: 1px solid #e6eaf0;
}

.deposit-container {
  height: 80vh !important;
}

.deposit-open {
  padding: 13px 0;
}

.row.deposit-values-container {
  justify-content: space-between;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row.deposit-values-container h4 {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0 !important;
}

.deposit-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #edf0f7;
  color: #788eaf;
  font-weight: bold;
  font-size: 16px;
  width: 22% !important;
  height: 74px;
  margin-bottom: 24px;
  border-radius: 0.375rem;
}

.deposit-values .deposit-amount {
  color: #022c66;
}

.deposit-values.selected {
  background-color: #022c66;
  color: white;
}

.deposit-values.selected .deposit-amount {
  color: #4ac777;
}

/* My profile */
.my-profile-wrapper {
  background-color: #022c66;
  height: 50vh;
}

.profile-info {
  min-height: 70vh;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-top: 32px;
}

.profile-info .container {
  min-height: 264px;
}

.profile-field-rectangle {
  background-color: #edf0f7;
  color: #022c66;
  font-weight: bold;
  font-size: 14px;
  padding: 16px;
  margin-bottom: 16px;
}

.profile-field-rectangle span {
  color: #8095b2;
}

.profile-actions {
  width: 100%;
  bottom: 100px;
  position: fixed;
}

.profile-action-button {
  font-size: 14px;
  font-weight: bold;
  color: #022c66;
  padding: 16px 20px;
  border-radius: 0.375rem;
}

.log-out-button {
  background-color: white;
  border: 1px solid #022c66;
  width: 80%;
}

.delete-profile-button {
  background-color: #edf0f7;
  border: none;
}

.change-phone-container {
  position: fixed;
  top: 169px; /* Adjust as needed */
  left: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.change-phone-container.show {
  left: 0;
}

.change-phone-container .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #8095b2;
  margin-bottom: 20px;
}

.change-phone-container input.change-phone {
  color: #8095b2;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  width: 100%;
  border: 0;
  padding-left: 8px;
}

.change-phone-container input.change-phone:focus,
.change-phone-container input.change-phone:focus-visible {
  border: 0 !important;
}

.save-profile-changes {
  width: 80%;
  height: 61px;
}

.custom-back-button {
  position: absolute;
  top: 0;
}

/* Write a review  */

.write-review-modal {
  bottom: 0;
  position: fixed;
  background-color: white;
  z-index: 101;
  height: 90vh;
  width: 100vw;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 10px rgba(2, 44, 102, 0.25);
  transition: bottom 0.3s ease;
}

.write-review-modal.hide {
  bottom: -90vh;
}

.star-selector .fa-star {
  color: #4ac777;
  font-size: 1.5rem;
}

.review-raitings-inputs {
  border-radius: 0.375rem;
  box-shadow: 0 0 10px rgba(2, 44, 102, 0.25);
}

.review-text-input {
  width: 100%;
  height: 150px;
  border-radius: 0.375rem;
}

.modal-actions button {
  width: 45%;
  height: 50px;
}

.modal-actions button.btn-outline-primary {
  font-weight: bold;
  border: 1px solid #022c66;
  color: #022c66;
}

.modal-actions button.btn-outline-primary:hover {
  background-color: #022c66;
  color: white;
}

.modal-actions button.btn-outline-success {
  font-weight: bold;
  border: 1px solid #4ac777;
  color: #4ac777;
}

.modal-actions button.btn-outline-success:hover {
  background-color: #4ac777;
  color: white;
}

.modal-bottom-bar {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 100vw;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: white;
}

.modal-bottom-bar div {
  box-shadow: none;
}

.complaint-success-icon {
  width: 20%;
  margin-top: 40%;
}

/* Location Picker modal */

.location-pick-modal {
  height: calc(100vh - 58px);
  border-radius: 0;
}

.location-pick-modal.hide {
  bottom: -100vh;
}

.location-pick-modal.hide .custom-map-wrapper {
  display: none;
}

.current-position-button {
  position: absolute;
  left: 0;
  width: 100vw;
  bottom: 65%;
  z-index: 99;
}

@media only screen and (max-width: 767px) {
  .current-position-button {
    bottom: 60%;
  }
}

.current-position-button span {
  background-color: white;
  border-radius: 0.375rem;
  border: 1px solid #022c66;
  padding: 10px;
}

/* Reviews */

.reviews-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.reviews-top-bar button.transparent-button {
  margin-top: 1.5rem !important;
}

.back-button-bar {
  border-bottom: 1px solid #edf0f7;
}

.reviews-results-info {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #edf0f7;
}

.all-reviews-info h4 {
  font-size: 18px;
}

.reviews-container {
  margin-top: 202px;
}

.review-box-container {
  padding: 24px 0;
  border-bottom: 1px solid #edf0f7;
}

.review-box-container p {
  font-size: 14px;
}

.review-header {
  margin-bottom: 12px;
}

.review-raitings i {
  color: #4ac777;
}
